<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!--  Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p [%c] %m%n</Pattern>
        </encoder>
    </appender>

    <appender name="console-infolog" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %5p %m%n</Pattern>
        </encoder>
    </appender>

    <!-- 로거 -->
    <logger name="board" level="DEBUG" appender-ref="console"/>
    <logger name="jdbc.sqlonly" level="INFO"/>
    <logger name="jdbc.resultsettable" level="INFO" appender-ref="console-infolog"/>
    <logger name="jdbc.connection" level="OFF"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="com.example.board_0914.controller" level="DEBUG"/>
    <logger name="com.example.board_0914.mapper" level="DEBUG"/>
    <logger name="com.example.board_0914.interceptor" level="DEBUG"/>
    <logger name="com.example.board_0914.aop" level="DEBUG"/>
    <logger name="com.example.board_0914.service" level="DEBUG"/>
    <logger name="org.thymeleaf" level="OFF"/>


    <!-- 루트 로거 -->
    <root level="debug">
        <appender-ref ref="console"/>
    </root>
</configuration>