<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="com.example.board_0914.mapper.board.boardMapper">
    <!--
    resultType  : select 된 데이터를 반환할 (그릇)을 정해주는것 BoardDTO 객체에 담긴다
    parameterType : 자바에서 int,String 값이 들어올거란걸 인지시켜주고 , 쿼리에서 자바에서 보낸 boardNo 사용한다
    -->

    <select id="boardDTOList"  resultType="BoardDTO">
        SELECT * FROM
        BOARDLIST A FULL JOIN FILE B
            ON A.BOARD_NO = B.BOARD_NO_FK
        WHERE A.BOARD_DELETEYN = 'N'
        ORDER BY BOARD_NO DESC
    </select>

    <select id="boardDetail"  parameterType="int" resultType="BoardDTO" >
        SELECT * FROM
        BOARDLIST A FULL JOIN FILE B
            ON A.BOARD_NO = B.BOARD_NO_FK
        WHERE A.BOARD_NO = #{boardNo}
    </select>

    <insert id="boardWrite" parameterType="BoardDTO">
        INSERT INTO BOARDLIST
        (
          BOARD_TITLE
        , BOARD_CONTENT
        , BOARD_WRITER
        , BOARD_REGDATE
        , BOARD_VIEWCOUNT
        , BOARD_PW
        , BOARD_DELETEYN
        ) VALUES (
                    #{boardTitle}
                 ,  #{boardContent}
                 ,  #{boardWriter}
                 ,  NOW()
                 ,  0
                 ,  #{boardPw}
                 ,  'N'
                 )
    </insert>

    <update id="boardUpdate" parameterType="boardDTO">
        UPDATE BOARDLIST
        SET BOARD_MODIDATE = NOW()
          , BOARD_TITLE = #{boardTitle}
          , BOARD_CONTENT = #{boardContent}
        where board_no = #{boardNo}
    </update>

    <update id="boardViewCountUpdate" parameterType="int">
        UPDATE BoardList
        SET BOARD_VIEWCOUNT = BOARD_VIEWCOUNT + 1
        WHERE BOARD_NO = #{boardNo}
    </update>

    <select id="boardPwPop"  parameterType="int" resultType="boardDTO">
        SELECT BOARD_PW
        FROM BoardList
        WHERE BOARD_NO = #{boardNo}
    </select>

    <update id="boardDelete" parameterType="boardDTO">
        UPDATE BoardList SET BOARD_DELETEYN = 'Y'
        WHERE BOARD_NO =#{boardNo}
    </update>
</mapper>